body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
}

header {
  background: #2e948a;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

nav > ul {
  list-style: none;
}
nav > ul > li {
  display: inline;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin: 0px 0px 47px 0px;
}
nav > ul > li > a {
  color: white;
  text-decoration: none;
  padding-right: 15px;
}

.logo {
  text-align: left;
  margin: 20px 0px 26px 82px;
  max-width: 100%;
}

.menu {
  align-items: right;
  align-self: flex-end;
  transform: translate(-103px, -47px);
}

.inicial {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 712px;
}

.topo {
  width: 20%;
}

.inicial img {
  width: 501px;
}

.titulo {
  font-size: 60px;

  color: #ff4081;
}

button {
  background-color: white;
  color: #ff4081;
  border-color: #ff4081;
  border-radius: 62px;
  width: 268px;
  height: 51px;
  font-size: 27px;
}

.meio {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  height: 730px;
  text-align: center;
}

.meio h3 {
  text-align: center;
  font-size: 25px;
  width: 304px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 0;
  margin-top: 0;
}

.meio p {
  width: 293px;
  margin-top: 50px;
  padding: 0;
  margin-bottom: 60px;
}

.meio img {
  width: 238px;
  height: 238px;
}

.titulos {
  color: #ff4081;
  width: 20%;
  padding: 20px;
  text-align: center;
  justify-content: space-evenly;
}

.botao {
  background-color: #ff4081;
  color: white;
  border-color: #ff4081;
  border-radius: 62px;
  width: 233px;
  height: 51px;
  font-size: 20px;
}

textarea {
  resize: none;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  height: 207px;
  background-color: #419488;
  
}

footer a {
  color: #fff;
}

#imgfooter {
  width: 312px;
  height: 101.43px;
  align-self: center;
}

.links,
.link2 {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.links,
.link2>
a {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  display: block;
  justify-items: center;
  line-height: 23px;
  margin-top: 5px;
}

.link2 > a {
  display: block;
  line-height: 23px;
  margin-top: 8px;
  border-radius: 62px;
  border: 2px solid #fff;
  padding: 14px 41px 14px 41px;
  text-align: center;
}


@media screen and (max-width: 480px) {

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  header img {
    width: 120px;
    margin-left: -50px;
  }

header .menu {
  width: 50px;
  margin-right: -50px;
  padding-top: 40px;
}

.menu ul li a {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.menu ul {
  height: 50px;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.menu ul a {
  font-size: 10px;
}


.menu {
  padding: 0;
  margin: 0;
  width: 100%;
}

  .inicial,
  .meio {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    height: auto;
    text-align: center;
    width: 100%;
  }

  .topo {
    width: 100%;
  }  

  .inicial h2 {
    text-align: center;
    font-size: 40px;
    width: 100%;
  }

  .inicial img,
  .meio img {
    position: relative;
    width: 200px;
    text-align: center;
  }

.meio h3 {
  width: 100%;
}

  .meio p {
    width: 100%;
  }

  footer {
    display: flex;
    margin-top: 50px;
    text-align: center;
  }

  #imgfooter {
    display: none;
  }

  footer .links > a {
    padding: 6px;
  }

  footer .link2 > a {
    padding: 10px;
  }
}
